h3, h1 {
    text-align: center;
}

#header {
    font-family: "Arial", serif;
}

#main {
    display: flex;
    flex-wrap: wrap;
    font-family: "Arial", serif;
    box-sizing: border-box;
}

#title {
    font-size: 20px;
}

.red-graphs {
    padding-top: 15px;
    border-radius: 5px;
    background-color: #ff9999;
    min-width: 400px;
    max-width: 600px;
    margin: 10px;
}

.white-graphs {
    padding-top: 15px;
    border-radius: 5px;
    background-color: #ffffcc;
    min-width: 400px;
    max-width: 600px;
    margin: 10px;
}
.descriptive-graphs {
    padding: 15px 15px 15px 15px;
    border-radius: 5px;
    background-color: #99ccff;
    min-width: 400px;
    max-width: 600px;
    margin: 10px;
}

.user-guide {
    padding: 15px 15px 15px 15px;
    border-radius: 5px;
    background-color: #99ccff;
    min-width: 400px;
    max-width: 600px;
    margin: 10px;
}

.sample-data {
    padding: 15px 15px 15px 15px;
    border-radius: 5px;
    background-color: #99ccff;
    min-width: 400px;
    max-width: 1000px;
    margin: 10px;
}

.welcome {
    max-width: 500px;
    padding: 15px 15px 15px 15px;
    border-radius: 5px;
    background-color: #99ccff;
    margin: 10px;
}

.login {
    max-width: 500px;
    padding: 15px 15px 15px 15px;
    border-radius: 5px;
    background-color: #99ccff;
    margin: 10px;
}

.image {
    width: 100%;
}

#predict-form {
    border-radius: 5px;
    background-color: #99ccff;
    max-width: 500px;
    padding: 20px;
    margin: 10px;
}

input[type=number], select, textarea{
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  float: right;
  resize: vertical;
}

input[type=submit] {
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

.label-col {
  float: left;
  width: 60%;

}

.input-col {
  float: right;
  width: 40%;
}

#result {
    text-align: center;
    font-size: 30px;
    font-weight: 400;
    width: 100%;
}

.form-row:after {
  content: "";
  display: table;
  clear: both;
}
